body {
  background-image: url(./assets/images/SnowyBackground.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Marck Script", cursive;
  justify-content: center;
}
img {
  width: 200px;
  height: 200px;
}
header {
  display: inline-block;
  width: 97.9%;
  justify-content: space-between;
  background-color: #2c7cce;
  padding: 20px 0px 10px 20px;
  margin: auto;
  border-width: 5px;
  border-radius: 30px;
  border-style: double;
  color: #f0f5f9;
}
nav {
  float: right;
  margin-right: 50px;
  margin-bottom: 5px;
}
nav a {
  text-decoration: none;
  color: #f0f5f9;
  display: block;
  padding: 10px;
}
nav li {
  float: right;
  margin: auto;
  padding: 5px 5px 5px 5px;
  font-size: 28px;
}
h1 {
  font-size: 50px;
  color: #f0f5f9;
  float: left;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 18px;
}
.profilesection {
  display: flex;
  background-color: #5c99c5;
  color: #f0f5f9;
  margin: 30px;
  justify-content: center;
  width: 40%;
  border-radius: 20px;
  border-style: dashed;
  border-color: #f0f5f9;
  border-width: 2px;
  margin-left: 31.5%;
}
.profilesection h2 {
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
}
.profilesection article {
  font-size: 25px;
  text-align: center;
  padding: 5px 40px 0px 15px;
}
#profilephoto {
  float: left;
  width: 35%;
  height: 35%;
  border-radius: 200px;
  margin: 10px 0px 10px 15px;
  border-color: #2c7cce;
  border-width: 5px;
  border-style: solid;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.projects img {
  width: 400px;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.7s ease;
}
#primaryProject {
  flex-grow: 8;
  margin: 0px 29% 20px 29%;
  padding: 25px 25px 10px 25px;
  background-color: #1c5b8a;
  color: #f0f5f9;
  border: #f0f5f9;
  border-radius: 20px;
  border-style: dashed;
}
#primaryProject img {
  height: 450px;
  width: 850px;
  object-fit: cover;
}
#primaryProject h2 {
  padding-top: 5px;
  font-size: 40px;
}
#primaryProject p {
  font-size: 28px;
}
#fitness {
  margin: 10px 30px 20px 555px;
  padding: 25px 15px 10px 15px;
  background-color: #5c99c5;
  color: #f0f5f9;
  border: #f0f5f9;
  border-radius: 20px;
  border-style: dashed;
}
#design {
  margin: 10px 400px 20px 0px;
  background-color: #5c99c5;
  color: #f0f5f9;
  border: #f0f5f9;
  border-radius: 20px;
  border-style: dashed;
  padding: 25px 15px 0px 15px;
}
#phone {
  margin: 10px 30px 20px 555px;
  background-color: #5c99c5;
  color: #f0f5f9;
  border: #f0f5f9;
  border-radius: 20px;
  border-style: dashed;
  padding: 25px 15px 10px 15px;
}
#travel {
  margin-right: 400px;
  background-color: #5c99c5;
  color: #f0f5f9;
  border: #f0f5f9;
  border-radius: 20px;
  border-style: dashed;
  padding: 25px 15px 10px 15px;
  margin: 10px 400px 20px 0px;
}
.contact {
  margin: 20px 0px 45px 37%;
  background-color: #1c5b8a;
  width: 600px;
  height: 110px;
  font-size: 24px;
}
.contact h2 {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 0px 0px 10px;
  color: #f0f5f9;
  font-size: 35px;
}
.contact ul {
  margin-left: 20px;
}
.contact li {
  display: inline;
}
.contact li a {
  text-decoration: none;
  color: #f0f5f9;
  padding: 5px;
}

footer {
  padding: 10px 5px 10px 45%;
  background-color: #0b304d;
  color: #f0f5f9;
  font-size: 16px;
}
#phonenumber::after {
  content: "Phone Number";
}
#phonenumber:hover::after {
  content: "801-598-1469";
  font-size: 30px;
}
nav li :hover {
  background-color: #f0f5f9;
  color: #1c5b8a;
  border-radius: 5px;
}
.contact li a:hover {
  background-color: #f0f5f9;
  color: #1c5b8a;
  border-radius: 5px;
}
.projects :hover .project-image {
  opacity: 0.6;
  transition: 0.5s ease;
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    width: 75%;
    float: none;
  }
  nav {
    display: block;
    float: none;
  }
  .profilesection {
    width: 74%;
    margin: 13%;
  }
  .profilesection h2 {
    font-size: 44px;
  }
  .profilesection article {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .projects {
    flex-direction: row;
  }
  #fitness {
    margin-left: 15%;
    width: auto;
  }
  #fitness img {
    width: 400px;
    height: 225px;
    padding: 5px;
    border-radius: 20px;
    margin: 0px;
  }
  #fitness h3 {
    font-size: 34px;
    text-align: center;
  }
  #fitness p {
    display: none;
  }
  #primaryProject {
    margin-left: 15%;
    width: auto;
    font-size: 5px;
  }
  #primaryProject img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
  }
  #primaryProject h2 {
    font-size: 34px;
    text-align: center;
  }
  #primaryProject p {
    display: none;
  }
  body {
    background-size: cover;
    background-position: 50%;
  }
  #design {
    margin-left: 15%;
    width: auto;
  }
  #design img {
    width: 400px;
    height: 225px;
    padding: 5px;
    border-radius: 20px;
    margin: 0px;
  }
  #design h3 {
    font-size: 34px;
    text-align: center;
  }
  #design p {
    display: none;
  }
  #phone {
    margin-left: 15%;
    width: auto;
  }
  #phone img {
    width: 400px;
    height: 225px;
    padding: 5px;
    border-radius: 20px;
    margin: 0px;
  }
  #phone h3 {
    font-size: 34px;
    text-align: center;
  }
  #phone p {
    display: none;
  }
  #travel {
    margin-left: 15%;
    width: auto;
  }
  #travel img {
    width: 400px;
    height: 225px;
    padding: 5px;
    border-radius: 20px;
    margin: 0px;
  }
  #travel h3 {
    font-size: 34px;
    text-align: center;
  }
  #travel p {
    display: none;
  }
  .contact {
    margin-left: 0px;
    width: 100%;
  }
  footer {
    width: 64%;
    padding-left: 35%;
  }
}
